
.Container{
    width: 85vmax; 
    margin: 0 auto;
}
nav{
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-right: 40px;
    color: #0d4091;
    margin-left: 32%;
    font-size: 1.5vmax;
}

nav div{
  margin-right: 10px;
  border-bottom: 1px dashed;

}

#headerImg{
    margin-top: 20px;
    position: relative;
}
.headerImgText{
    position: absolute;
    text-align: center;
    width: 100%;
    -webkit-text-stroke: 1px orange;
    color: white;

}

#headerImg  img{
    width: 70%;
    height: 30vmax;
    border-radius: 40px;
    display: block;
    margin: auto;
}
#Bottom{
   display: flex;
   justify-content: center;
   margin-top: 15px;
}
#Bottom a{
    text-decoration: none;
    color: black;
}

.headerIcon{
   width: 15%;
   margin-left: 3vmax;

}
.headerIcon img{
    width: 80%;
}

.headerIcon img:hover{
    width: 90%;
}
.headerIcon div{
    text-align: center;
    width: 90%;
    font-size: 2vmax;

}

@media only screen and (max-width: 600px) {
    .Container{
        width: 50vmax; 
        margin: 0 auto;
    }

}