

#info{
    margin-top: 4vmax;
    padding-left: 27px;
}

#infoTitle{
    border-bottom: 4px double;
    color: #448cff;
    padding-left: 30px;
}

#content {

    letter-spacing:  1px;

}

#content li {
    padding: 15px 0px;
}

#info-img div div{
    text-align: center;
    padding: 10px 0px;
}

.pList{
    display: flex;
    
}


#product .p1 img{
    width: 98%;
    border: 3px solid #7cd7ff;
}
#product .p1 div{
    text-align: center;
    padding: 10px 0px;
    margin-top: 5px;
    background-color: #7cd7ff;
}
.p2{

    margin-top: 30px;
}

.p2 img{
    width: 99%;
    border: 3px solid #7cd7ff;
}

.p2 div{
    text-align: center;
    padding: 10px 0px;
    margin-top: 5px;
    background-color: #7cd7ff;

}
#Line{
float: right;;
width: 10vmax;
margin-top: 23vmax;
}

#Line img{
    width: 100%;
}
#Line div{
    text-align: center;
   
}

iframe {
    width: 51vmax;
    height: 35vmax;
}



@media only screen and (max-width: 600px) {
#infoTitle {
    border-bottom: 4px double;
    color: #448cff;
    padding-left: 0px;
    font-size: 1vmax;
}

#info{
    margin-top: 4vmax;
    padding-left: 0px;
}

#google{
    
}

}